@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";




@theme{
    --color-primary: #F1F1F1;
    --color-secondary: #000000;
    --color-accent: #2733A0;
    --font-lora: "Lora", sans-serif;
}

/* Customize the entire scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

/* Customize the scrollbar track (background) */
::-webkit-scrollbar-track {
  background-color: transparent; /* Tailwind color equivalent: bg-gray-100 */
}

/* Customize the scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Tailwind color equivalent: bg-gray-500 */
  border-radius: 4px; /* Add rounded corners */
}